<!-- Loading Overlay -->
<div id="loadingOverlay">
    <div id="loadingContent">
        <h2 id="loadingHeader"></h2>
        <p>One moment please...</p>
        <div class="spinner"></div>
    </div>
</div>

<app-mobile-menu
    [(showGifs)]="showGifs"
    [(currentDarkMode)]="currentDarkMode"
></app-mobile-menu>

<!-- Desktop Controls -->
<div class="desktop-controls"
     [style.color]="currentDarkMode ? '#ffffff' : '#000000'"
     style="display:flex; justify-content: center; align-items: center; gap: 15px; padding-bottom:10px;">
    <mat-slide-toggle (click)="showGifs = !showGifs; pokemonService.saveShowGifs(showGifs);"
                      title="If GIF is not present, official artwork will show!"
                      [class]="currentDarkMode?'darkmode':'lightmode'">
        Show GIFs
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="getCurrentDarkMode()"
                      (click)="toggleDarkMode()"
                      title="Toggle darkmode"
                      [class]="currentDarkMode?'darkmode':'lightmode'">
        {{currentDarkMode? 'Dark Mode On' : 'Light Mode On'}}
    </mat-slide-toggle>
    <div style="display:flex; align-items: center; gap: 5px;">
        <input
            #pokemonNameIDInput
            (input)="onInput(pokemonNameIDInput.value)"
            (keydown.enter)="navigateToPokedex($event); pokemonNameIDInput.value = '';"
            [value]="pokemonIDName"
            autofocus
            placeholder="Pokemon Name/ID"
            style="height:50px; width:150px; font-size: 15px;"
            tabindex="0"
            type="text"/>
        <a routerLink="/pokedex/?pokemonID={{pokemonNameIDInput.value}}" style="display: flex; align-items: center; justify-content: center;">
            <img alt="Get Pokémon"
                 src="./assets/images/pokeball1.jpg"
                 style="width:50px; height:50px; cursor: pointer;"
                 title="Click to Search">
        </a>
    </div>
    <div style="display:flex; align-items: center; gap: 5px;">
        <input #pageNumber (keydown.enter)="setNewPageNumber(pageNumber.value); pageNumber.value = '';"
               placeholder="Page #"
               style="width:60px;"
               type="text"/>
        <button (click)="setNewPageNumber(pageNumber.value); pageNumber.value = '';" class="icon">Jump to Page</button>
    </div>
    <div style="display:flex; align-items: center; gap: 5px;">
        <input #showNPokemon (keydown.enter)="setNumberOfPokemonToDisplay(showNPokemon.value); showNPokemon.value = '';"
               placeholder="# of PkMn"
               style="width:70px;"
               type="text"/>
        <button (click)="setNumberOfPokemonToDisplay(showNPokemon.value); showNPokemon.value = '';" class="icon">Show
            Pokemon
        </button>
    </div>
    <div id="typeList" style="display:flex; align-items: center; gap: 5px;">
        <label for="typeDropdown"></label>
        <select id="typeDropdown" title="Type" class="icon" (change)="showLoadingOverlay(); getByPkmnType($event)">
            <option value="none" selected>Type (All)</option>
            @for (type of uniqueTypes; track type) {
                @if (chosenType === type) {
                    <option [value]="type" selected>{{ type }}</option>
                } @else {
                    <option [value]="type">{{ type }}</option>
                }
            }
        </select>
    </div>
    <button class="back-to-landing-btn icon" (click)="navigateToLandingPage()"
            title="Return to Landing Page">
        Back to Landing Page
    </button>
</div>

<pagination-controls
        (pageChange)="this.page=$event; pokemonMap = newMap(); getThePokemon();"
        [maxSize]="this.pkmnPerPage"
        style="justify-content: space-evenly;">
</pagination-controls>
<div class="pokemon-grid">
    @for (pokemon of pokemonMap | keyvalue | paginate: {
        itemsPerPage: this.pkmnPerPage,
        currentPage: this.page,
        totalItems: this.numberOfPokemon
    }; track pokemon) {
        <div
        >
            <nav>
                <a [routerLink]="['/pokedex', pokemon.value.id]" style="text-decoration: none; color: black;">
                    <div [ngStyle]="{'background-color':changeColor(pokemon.value.color)}" class="box"
                         title="Click for more info">
                        <div id="nameAndID" style="display:inline-flex;">
                            @if (pokemon.value.id; ) {
                                <h3
                                        id="name"
                                >{{ pokemon.value.name | titlecase }}</h3>
                            }
                            <div style="display: block;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <h3 id="idOfPokemon">ID: {{ pokemon.value.id }}</h3>
                        </div>
                        @for (sprites of getPokemonSprites(pokemon.value) | keyvalue; track sprites) {
                            <div
                                    id="image">
                                @if (defaultImagePresent) {
                                    @if (sprites.key == 'front' && !showGifs) {
                                        <img (mouseout)="sprites.value = showFrontImage(pokemon.value);"
                                             (mouseover)="sprites.value = showOfficialArtwork(pokemon.value)"
                                             [src]="sprites.value"
                                             alt="{{pokemon.value.name}}-default"
                                        >
                                    }
                                    @if (sprites.key == 'gif' && showGifs && gifImagePresent; ) {
                                        <img
                                                [src]="sprites.value" alt="{{pokemon.value.name}}-gif"
                                        >
                                    }
                                    @if (sprites.key == 'official' && showGifs && !gifImagePresent; ) {
                                        <img
                                                [src]="sprites.value" alt="{{pokemon.value.name}}-official"
                                        >
                                    }
                                } @else {
                                    @if (sprites.key == 'official' && sprites.value != null; ) {
                                        <img
                                                [src]="sprites.value" alt="{{pokemon.value.name}}-official"
                                        >
                                    }
                                    @if (sprites.key == 'official' && sprites.value == null; ) {
                                        <img
                                                alt="pokeball" src="assets/images/pokeball1.jpg">
                                    }
                                }
                            </div>
                        }
                        <div id="info" style="display:inline-block;">
                            <h5 id="heightOfPokemon">Height: {{ pokemon.value.height }} in</h5>
                            <h5 id="weightOfPokemon">Weight: {{ pokemon.value.weight }} lbs</h5>
                            <h5 id="colorOfPokemon">Color: {{ pokemon.value.color | titlecase }}</h5>
                            <h5 id="typeOfPokemon">Type: {{ pokemon.value.type }}</h5>
                        </div>
                    </div>
                </a>
            </nav>
        </div>
    }
</div>
<pagination-controls
        (pageChange)="this.page=$event; pokemonMap = newMap(); getThePokemon();"
        [maxSize]="this.pkmnPerPage"
        style="justify-content: space-evenly;"></pagination-controls>
