.pokemon-grid {
    display: grid;
    grid-gap: 15px;
    padding: 20px;
    /*grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.pokemon-grid .box {
    width: 100%;
    height: 400px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

img {
    width: 200px;
    height: 200px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

#name {
    cursor: pointer;
}

#info * {
    height: 10px;
    padding: 0;
}

/* Error but has effect that looks great for pokemon evolutions
.pokemon-grid {
  display: grid;
  grid-gap: 15px;
  padding: 20px;
  grid-template-columns: 1 fr repeat(2, 20px);
}
 */
.back-to-landing-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    /*text-align: center;*/
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
