@if (pokemonFamily.length === 0) {
    <h2>No Evolutions</h2>
} @else {
    <h2>{{ pokemonName | titlecase }}'s Family</h2>
    <div id="evolutions" style="display:inline-flex; justify-content: center; width:100%; height:45%;">
        @for (list of pokemonFamily; track list; let i = $index) {
            <div style="display:block;">
                <div id="stagesHeader"
                     class=""
                     style="display:inline-flex;justify-content:center;text-align-all:center;width:300px;height:10px;">
                    <h2>Stage {{ i + 1 }}</h2>
                </div>
                <div style="overflow-y:scroll;overflow-x:hidden;max-height:500px;width:auto;">
                    @for (pokemon of list | sort:'{{pokemon.id}}'; track pokemon; let isLast = $last) {
                        <div class="evolution-grid" style="">
                            <a routerLink="/pokedex/{{pokemon.id}}" style="text-decoration:none;color:black;">
                                <div id="pokemon{{pokemon.id}}"
                                     [ngStyle]="{'background-color':changeColor(pokemon.color)}"
                                     class="box"
                                     style="display:inline-block;">
                                    <div id="idAndName" style="display:inline-flex;">
                                        <h3 id="{{pokemon.name}}-name">{{ pokemon.name | titlecase }}</h3>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        <h3 id="{{pokemon.id}}-id">ID: {{ pokemon.id }}</h3>
                                    </div>
                                    <div id="{{pokemon.id}}-img">
                                        <img alt="{{pokemon.name}}-default"
                                             src="{{pokemon.photo}}"
                                             style="width:200px;height:200px;">
                                    </div>
                                    <h3 id="{{pokemon.id}}-height">Height: {{ pokemon.height }} in</h3>
                                    <h3 id="{{pokemon.id}}-weight">Weight: {{ pokemon.weight }} lb</h3>
                                    <h3 id="{{pokemon.id}}-color">Color: {{ pokemon.color | titlecase }}</h3>
                                    <h3 id="{{pokemon.id}}-type">Type: {{ pokemon.type }}</h3>
                                </div>
                            </a>
                            @if (!isLast) {
                                <div style="padding-top:25px; text-align:center; justify-content:center;">
                                    <img style="width:25px;height:25px;"
                                         alt="pokeball"
                                         src="./assets/images/pokeball1.jpg">
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
