@if (!emptyChain) {
    @if (doesPokemonEvolve) {
        @if (hasMinimumLevel != false) {
            <div>
                <h3 id="levelOfPokemon1"><b>Evolves At Lvl: </b>{{ minimumLevel }}</h3>
            </div>
        } <!-- with level -->
        @if (hasUseItem; ) {
            <div>
                <h3 class="listStyle"
                    id="itemToEvolveTitle"><b>Evolves with: </b></h3>
                @for (item of useItem; track item; let i = $index) {
                    <div>
                        <h3 class="listStyle"
                            id="useItem{{i+1}}"
                        >{{ item | titlecase }}</h3>
                    </div>
                }
                <br>
            </div>
        } <!-- with use_item -->
        @if (hasHeldItem) {
            <div>
                <h3 class="listStyle"
                    id="heldItemToEvolveTitle"><b>Evolves by holding: </b></h3>
                @for (holdItem of heldItem; track holdItem; let i = $index) {
                    <div>
                        <h3 class="listStyle"
                            id="holdItem{{i+1}}"
                        >{{ holdItem | titlecase }}</h3>
                    </div>
                }
                <br>
            </div>
        } <!-- with held_item -->
        @if (hasMinimumHappiness) {
            <div>
                <h3 id="happiness"><b>Evolves w/ Happiness: </b>{{ minimumHappiness }}</h3>
            </div>
        } <!-- with happiness -->
        @if (hasMinimumAffection) {
            <div>
                <h3 id="affection"><b>Evolves w/ Affection: </b>{{ minimumAffection }}</h3>
            </div>
        } <!-- with affection -->
        @if (hasBeauty) {
            <div>
                <h3 id="beauty"><b>Evolves w/ Beauty: </b>{{ minimumBeauty }}</h3>
            </div>
        } <!-- with beauty -->
        @if (hasDayNight) {
            <div>
                <h3 class="listStyle"
                    id="dayNightTitle"><b>Evolves during: </b></h3>
                @for (time of dayNight; track time; let i = $index) {
                    <div>
                        <h3 class="listStyle"
                            id="dayNight{{i+1}}"
                        >{{ time | titlecase }}</h3>
                    </div>
                }
                <br>
            </div>
        } <!-- with time of day -->
        @if (hasLocations) {
            <div>
                <h3 class="listStyle"
                    id="locationsTitle"><b>Evolves at location: </b></h3>
                @for (location of locations; track location; let i = $index) {
                    <div>
                        <h3 class="listStyle"
                            id="location{{i+1}}"
                        >{{ location | titlecase }}</h3>
                    </div>
                }
                <br>
            </div>
        } <!-- with locations -->
        @if (hasKnownMoves) {
            <div>
                <h3 class="listStyle"
                    id="knownMovesTitle"><b>Evolves with move: </b></h3>
                @for (move of knownMoves; track move; let i = $index) {
                    <div>
                        <h3 class="listStyle"
                            id="location{{i+1}}"
                        >{{ move | titlecase }}</h3>
                    </div>
                }
                <br>
            </div>
        } <!-- with known moves -->
        @if (hasKnownMoveType) {
            <div>
                <h3 class="listStyle"
                    id="knownMovesTypesTitle"><b>Evolves with move type: </b></h3>
                @for (moveType of knownMoveTypes; track moveType; let i = $index) {
                    <div>
                        <h3 class="listStyle"
                            id="knownMoveType{{i+1}}"
                        >{{ moveType | titlecase }}</h3>
                    </div>
                }
                <br>
            </div>
        } <!-- with known moves types -->
        @if (hasNeedsRain) {
            <div>
                <h3 class="listStyle"
                    id="needsRainTitle"><b>Evolves with rain: </b></h3>
                <h3 class="listStyle"
                    id="rain"
                >{{ needsRain | titlecase }}</h3>
                <br>
            </div>
        } <!-- with needs rain -->
                <!-- other attributes -->
        @if (hasTurnUpsideDown) {
            <div>
                <h3 class="listStyle"
                    id="turnUpsideDownTitle"><b>Evolves by turning Upside Down: </b></h3>
                <h3 class="listStyle"
                    id="upsideDown"
                >{{ turnUpsideDown | titlecase }}</h3>
                <br>
            </div>
        } <!-- with turn upside down -->
        @if (hasTradeSpecies) {
            <div>
                <h3 class="listStyle"
                    id="tradeSpeciesTitle"><b>Evolves by Trading</b></h3>
                <br>
            </div>
        } <!-- with trade species -->
    } @else {
        <h3 id="levelOfPokemon">Final Form</h3>
    }
} @else {
    <h3>No Pokemon chain info found: Chain ID: {{ pokemonChainID }}</h3>
}
