src {
    size: 100px;
}

body {
    background-color: whitesmoke;
}

img {
    cursor: zoom-in;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.back-to-landing-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-to-landing-btn:hover {
    background-color: #45a049;
}

body.dark .back-to-landing-btn {
    background-color: #2196F3;
}

body.dark .back-to-landing-btn:hover {
    background-color: #0b7dda;
}

