/* You can add global styles to this file, and also import other style files */
.pokedexStyle {
    display: flow;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 300px) {
    .pokedexStyle {
        display: inline-flex;
        text-align: center;
        vertical-align: middle;
        width: 100px;
    }
}

.tab {
    cursor: pointer;
}

html, body {
    /*background-color: white;*/
    height: 100%;
    margin: 0;
}

/* Light mode styles */
body.light {
    background-color: white;
    color: black;
}

body.light a {
    color: #0066cc;
}

/* Dark mode styles */
body.dark {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

body.dark a {
    color: #66b3ff;
}

body.dark input {
    background-color: #2d2d2d;
    color: #e0e0e0;
    border: 1px solid #444;
}

body.dark button {
    background-color: #2d2d2d;
    color: #e0e0e0;
    border: 1px solid #444;
}

/* Legacy class names for backwards compatibility */
.lightmode {
    background-color: white;
    color: black;
}
.darkmode {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

