/* You can add global styles to this file, and also import other style files */
.pokedexStyle {
    display: flow;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 300px) {
    .pokedexStyle {
        display: inline-flex;
        text-align: center;
        vertical-align: middle;
        width: 100px;
    }
}

.tab {
    cursor: pointer;
}

html, body {
    /*background-color: white;*/
    height: 100%;
    margin: 0;
}

.dark {
    background-color: #121212;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
