<div style="display: flex; align-items: center; justify-content: center; gap: 10px; padding: 10px;">
    <a routerLink="/" style="text-decoration:none; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px;">
        <i class="fa-solid fa-arrow-left"
            [style.color]="isDarkMode ? 'white' : 'black'"
            style="font-size: 32px;"></i>
<!--        <img alt="Go to Home"-->
<!--             src="./assets/images/arrow-back.jpg"-->
<!--             style="width:50px; height:50px;"-->
<!--             title="Click here to return to Homepage">-->
    </a>
    <input
        #pokemonNameIDInput
        (input)="onInput(pokemonNameIDInput.value)"
        (keydown.enter)="navigateToPokedex($event); pokemonNameIDInput.value = '';"
        [value]="pokemonIDName"
        autofocus
        placeholder="Pokemon Name/ID"
        style="height:50px; width:150px; font-size: 15px;"
        tabindex="0"
        type="text"/>
    <a routerLink="/pokedex/?pokemonID={{pokemonNameIDInput.value}}" style="display: flex; align-items: center; justify-content: center;">
        <img alt="Get Pokémon"
             src="./assets/images/pokeball1.jpg"
             style="width:50px; height:50px; cursor: pointer;"
             title="Click to Search">
    </a>
</div>
<!--@if (pokemonName.length != 0) {-->
<!--    <div>-->
<!--        <app-pokedex-->
<!--                [pokemonColor]="pokemonColor"-->
<!--                [pokemonDescription]="pokemonDescription"-->
<!--                [pokemonDescriptions]="pokemonDescriptions"-->
<!--                [pokemonHeight]="pokemonHeight"-->
<!--                [pokemonID]="pokemonID"-->
<!--                [pokemonImage]="pokemonImage"-->
<!--                [pokemonLocations]="pokemonLocations"-->
<!--                [pokemonMoves]="pokemonMoves"-->
<!--                [pokemonName]="pokemonName"-->
<!--                [pokemonSprites]="sprites"-->
<!--                [pokemonType]="pokemonType"-->
<!--                [pokemonWeight]="pokemonWeight"-->
<!--        >-->
<!--        </app-pokedex>-->
<!--    </div>-->
<!--}-->
