<div>
  <a routerLink="/">
    <img alt="Go to Home"
         src="./assets/images/arrow-back.jpg"
         title="Click here to return to Homepage"
         style="vertical-align:middle; width:50px; height:50px;">
  </a>
  <input
    #pokemonNameIDInput
    type="text"
    style="vertical-align: middle; justify-content: center; height:50px; width:150px; font-size: 15px;"
    placeholder="Pokemon Name/ID"
    tabindex="0"
    autofocus
    [value]="pokemonIDName"
    (input)="onInput(pokemonNameIDInput.value)"
    (keydown.enter)="getPokemonInfo(); pokemonNameIDInput.value = '';"/>
  <img (click)="getPokemonInfo()"
       src="./assets/images/pokeball1.jpg"
       alt="Get Info"
       title="Click to Search"
       style="position: absolute; width:50px; height:50px;">
</div>
<div *ngIf="pokemonName.length != 0">
  <app-pokedex
    [pokemonSprites]="sprites"
    [pokemonID]="pokemonID"
    [pokemonName]="pokemonName"
    [pokemonImage]="pokemonImage"
    [pokemonHeight]="pokemonHeight"
    [pokemonWeight]="pokemonWeight"
    [pokemonColor]="pokemonColor"
    [pokemonType]="pokemonType"
    [pokemonDescriptions]="pokemonDescriptions"
    [pokemonDescription]="pokemonDescription"
    [pokemonLocations]="pokemonLocations"
    [pokemonMoves]="pokemonMoves"
  >
  </app-pokedex>
</div>
